<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:fragment="header">
   
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" media="screen"></link>
<script src="http://code.jquery.com/jquery.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<title>Spring MVC Simple Demo Application</title>
	
</head>

<body>
<div style="padding: 50px 0px 0px 100px">

 <h1><span th:text="#{denied.title}"></span></h1>

<p>You don't have permission to perform this action</p>
<!--  
<a href="@{/login.html}">Login again</a><br/>
-->
<a th:href="@{/}">Home Page</a>
</div>
</body>
</html>

